li {list-style-type: none;
    display: inline-block;
    font-family: sans-serif;
    color: aqua;
}
body {background: grey;}

h1 {font-size: 3em;
    font-family: sans-serif;
    color: crimson;
}
h4 {font-size: 2em;
    font-family: monospace;
    color: darkgreen;
}

a {color: black;
    font-family: fantasy;
    font-size: 25px;
}